
*{
    font-family: 'Muli', sans-serif;
}
.container{
    display: flex;
    font-family: Arial !important;
    color: antiquewhite;
    background-color: #333a35;
}



.relax, .stream{
    display: flex;
    width: 420px;
    height: 240px;
    justify-content: center;
    align-items: flex-end;
}

.relax h2, .stream h2{
    margin-left: 20px;
}
.desert h2{
    text-align: center;
    font-size: 50px;
    
}

.stream{
    background-image: url('images/stream420x240.jpg'); 
}
.desert{
    background-image: url('images/desert780x477.jpg');
    display: flex;
    width: 780px;
    height: 480px;
    justify-content: center;
    align-items: flex-end;
} 
.relax{
    background-image: url('images/relax420x237.jpg');
}

#line{
    border-bottom:3px solid orange;
    margin-top: 2px;
    margin-right:30px;
    margin-left: 30px;
}
nav{
    background-color:#333a35;
    height: 48px;
}

nav ul{
    display: flex;
    justify-content:flex-start;
    padding: 0px;
    margin: 0px;
    list-style-type:none; 
}

nav ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;  
    text-decoration: none;
    margin: 10px;
}

nav ul li a:hover{
    color:#eca419;
}

.logo{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

i{
    color:#eca419; 
}

.strip{
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 20px;
}
   

.recipes, .tent, .backpack, .candles{
    margin:0 2px;
    padding-top: 20px;
   
}
.gearout{
    background-color:#dfd7c7;
    margin: 29px;
    padding-top:10px;
}
.gearin{
    margin: 20px;
    padding-bottom: 20px;
}
.chair, .hat, .gcandle, .cook{
    background-color: beige;
    margin:30px;
    padding: 30px;

}
p, h2{
    text-align: justify;
    vertical-align: 70px;
}
#top{
    color: #eca419;
    font-size: 30px;
    text-align: center;
}

#uHead{
    text-align: center;
}

.aUser{
    background-color: #dfd7c7;
    border: #dfd7c7,10px;
}